version: "3.8"
services:
  frontend:
    build: ./client
    ports:
      - "3000:3000"
    restart: always
    env_file:
      - .env
    volumes:
      - ./client:/app
      - /app/node_modules
    stdin_open: true
    tty: true
    environment:
      - CHOKIDAR_USEPOLLING=true     # Forces polling every few seconds
      - WATCHPACK_POLLING=true       # Webpack polling
      - WDS_SOCKET_PORT=0           # WebSocket fix
      - WDS_SOCKET_HOST=localhost 
    command: npm start
# for local dev

  backend:
    build: ./Server
    volumes:
      - ./Server:/app
      - ~/.m2:/root/.m2
    ports:
      - "8080:8080"
    env_file:
      - .env
    environment:
      SPRING_DEVTOOLS_RESTART_ENABLED: "true"
      DB_password : ${DB_password}
    command: ["mvn", "spring-boot:run"]